extends layout

block head
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src="/javascripts/index.js")

block content
    h1= title
    p Welcome to #{title}
    ol
        for item in db
            li #{item}
    form#form
        input(type="text" name="text")
        input(type="submit" value="SUBMIT")
