body {
  font-family: Ubuntu;
  padding: 50px;
  background: #2e2e2e; }

#content {
  width: 100%;
  height: 100%;
  background: #e0e0e0;
  position: absolute;
  left: 0;
  top: 0; }
  #content:after {
    content: "\a";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -webkit-transition: opacity 0.4s linear;
    -moz-transition: opacity 0.4s linear;
    -ms-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
    display: none; }

#content.darken:after {
  display: inherit;
  opacity: 0.4 !important; }

#pageContent {
  padding-left: 5em; }

#nav {
  z-index: 0;
  position: fixed;
  float: left;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background: #2e2e2e; }
  #nav ul {
    padding: 0;
    margin: 0;
    background: #2e2e2e; }
    #nav ul a {
      color: white;
      text-decoration: none !important; }
      #nav ul a li {
        text-align: center;
        padding: 1em 2em 0 2em;
        border-bottom: solid 1px #474747;
        -webkit-transition: background 0.1s linear;
        -moz-transition: background 0.1s linear;
        -ms-transition: background 0.1s linear;
        -o-transition: background 0.1s linear;
        transition: background 0.1s linear; }
        #nav ul a li:hover {
          background: #616161 !important; }
        #nav ul a li i {
          font-size: 2em; }
        #nav ul a li p {
          margin-top: 0 !important; }

#navButton {
  float: left;
  left: 0;
  top: 2em;
  position: fixed;
  z-index: 1;
  color: #FFFFFF;
  background: #2e2e2e;
  font-size: 20px;
  padding: 1em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  display: inline !important; }
  #navButton i {
    position: relative;
    vertical-align: middle; }
  #navButton #navLabel {
    display: none;
    padding: 0;
    vertical-align: middle; }
  #navButton:hover {
    cursor: pointer; }

#banner {
  width: 100%;
  text-align: center;
  padding-top: 0.25em;
  font-size: 3em;
  font-weight: bold; }
